.App-header {
  background-color: #282c34;
  padding: 40px 0;
  color: white;
  text-align: center;
}

.features,
.testimonials {
  padding: 40px 0;
}

.App-footer {
  padding: 20px 0;
  text-align: center;
}
